
<body id="background">
 <div class="background-image"></div>
</body>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    #background {
        background-image: url(../Pictures/image7.png );
        background-position: inherit;
        background-size: contain;
        background-repeat: no-repeat;
        max-width:100%;
        height: 100vh;
    }
</style>
<body id="background">
    
    <div style="padding-top: 55px;">
        <div style="float:right; width:20%">

            <h3 id="text_homePage">
                <span style="color:black;">
               
                @Html.ActionLink("Click Here to Register", "Create")</span><br/><br/>
                @Html.ActionLink("Click Here to Login", "LoginUser")<br/>
                
            </h3>
    </div>
        </div>
</body>



